{% extends "network/layout.html" %} {% load static %} {% block body %}
<h2>All Posts</h2>

{% if user.is_authenticated %}
<div class="border rounded p-3">
	<form id="newPostForm" method="post">
		{% csrf_token %}
		<div class="form-group">
			<h5 for="post">New Post</h5>
			<div id="message"></div>
			<textarea
				name="content"
				class="form-control"
				id="post"
				rows="3"
			></textarea>
		</div>
		<button type="submit" class="btn btn-primary">Post</button>
	</form>
</div>
{% endif %}

<hr class="my-4" style="border: 1px solid lightgray" />

<div id="posts">
	{% for post in posts %}
	<div data-id="{{ post.id }}" class="post-container border rounded p-3 mb-2">
		<h5>
			<a href="{% url 'profile' post.poster.id %}">{{post.poster.username}}</a>
		</h5>
		<form class="d-flex justify-content-between align-items-start">
			{% csrf_token %}
			<div class="flex-grow-1 post-content mr-4">
				<p>{{post.content}}</p>
			</div>
			{% if user.id == post.poster.id %}
			<button class="btn btn-primary btn-sm">Edit</button>
			{% endif %}
		</form>
		<small class="text-black-50">{{post.created}}</small>
		{% if user.is_authenticated %}
		{% if post.id in liked_posts_id %}
		<button class="like-button btn btn-danger d-block btn-sm mt-3">
		{% else %}
		<button class="like-button btn btn-outline-danger d-block btn-sm mt-3">
		{% endif %}
		{% endif %}
			<p>❤{{post.likes}}</p>
		</button>
	</div>
	{% empty %}
	<p>No Post Yet</p>
	{% endfor %}
</div>

<ul class="pagination">
	{% if page_obj.has_previous %}
	<li class="page-item"><a class="page-link" href="?page=1">&laquo;</a></li>
	<li class="page-item">
		<a class="page-link" href="?page={{ page_obj.previous_page_number }}"><</a>
	</li>
	{% endif %}

	<li class="page-item">
		<span class="current page-link">
			Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
		</span>
	</li>

	{% if page_obj.has_next %}
	<li class="page-item">
		<a class="page-link" href="?page={{ page_obj.next_page_number }}">></a>
	</li>
	<li class="page-item">
		<a class="page-link" href="?page={{ page_obj.paginator.num_pages }}"
			>&raquo;</a
		>
	</li>
	{% endif %}
</ul>

{% endblock %} {% block script %}
<script src="{% static 'network/index.js' %}"></script>
{% endblock script %}
