{% extends 'auctions/layout.html' %}

{% block body %}
<h2>Listing: {{ listing.title }}</h2>

{% if listing.image_URL %}
<img style="object-fit: contain; width: 500px; height:300px"
  src="{{ listing.image_URL }}" alt="image">
{% endif %}
<p>{{ listing.description }}</p>

{% if not closed %}
{% if listing.lister.id == user.id and current_bid %}
<form action="{% url 'close_listing' listing.id %}" method="post">
  {% csrf_token %}
  <button type='submit' class='btn btn-danger mb-3'>Close auction</button>
</form>
{% endif %}

<form action="{% url 'watchlist' %}" method="post">
  {% csrf_token %}
  <input type="hidden" name="listing_id" value="{{ listing.id }}">
  {% if not watchlisted %}
  <button type='submit' class='btn btn-primary'>Add to watchlist</button>
  {% else %}
  <button type='submit' class='btn btn-danger'>Remove from watchlist</button>
  {% endif %}
</form>

<h3 class="mt-3">${{ listing.bid }}</h3>

<form action="{% url 'listing' listing.id %}" method="post">
  {% csrf_token %}
  <p>Highest Bidder: {{ current_bid.bidder }}</p>
  <input type="text" name='bid' placeholder="Bid" class='form-control mb-3'>
  {% if message %}
  <p class='text-danger'>{{ message }}</p>
  {% endif %}
  <button type='submit' class='btn btn-primary'>Place Bid</button>
</form>
{% else %}
{% if current_bid.bidder.id == user.id %}
<h3>Auction closed. You win!</h3>
{% else %}
<h3>Auction closed. Winner: {{ current_bid.bidder }}</h3>
{% endif %}
{% endif %}

<h4 class='mt-4'>Details</h4>
<ul>
  <li>Listed by: {{ listing.lister }}</li>
  <li>Category: {{ listing.category }}</li>
  <li>Listed at: {{ time_listed }}</li>
</ul>

<h4>Comments</h4>
<form action="{% url 'add_comment' listing.id %}" method="post">
  {% csrf_token %}
  <textarea style="display: block; width: 100%;" type="text" name='comment'
    placeholder="Comment"></textarea>
  <button type='submit' class='btn btn-primary mt-3'>Comment</button>
</form>

{% for comment in comments %}
<div style='border: 1px solid black' class='mt-3 p-2'>
  <h5>{{ comment.commenter }} - {{ comment.time_commented }}</h5>
  <p>{{ comment.comment }}</p>
</div>
{% empty %}
<p>No comments yet. Be the first one to comment!</p>
{% endfor %}

{% endblock body %}